*{margin:0;padding:0;}
.icon_box{height:150px;border:1px solid #ddd;}
span{width:26px;height:26px;display:inline-block;background:url("../images/icons.png") no-repeat;text-indent:-99999em;}
.icon{background-position:0 -9px;}
.icon:hover{background-position:0 -39px;}
.icon2{background-position:0 -130px;}
.icon2:hover{background-position:0 -160px;}





